    /*
    Flaticon icon font: Flaticon
    Creation date: 23/07/2018 13:07
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-technical-support:before { content: "\f100"; }
.flaticon-coffee-cup:before { content: "\f101"; }
.flaticon-small-calendar:before { content: "\f102"; }
.flaticon-maintenance:before { content: "\f103"; }
.flaticon-placeholder:before { content: "\f104"; }
.flaticon-email-envelope-with-arroba-sign:before { content: "\f105"; }
.flaticon-smartphone:before { content: "\f106"; }
.flaticon-coding:before { content: "\f107"; }
.flaticon-diagram:before { content: "\f108"; }
.flaticon-income:before { content: "\f109"; }
    
    $font-Flaticon-technical-support: "\f100";
    $font-Flaticon-coffee-cup: "\f101";
    $font-Flaticon-small-calendar: "\f102";
    $font-Flaticon-maintenance: "\f103";
    $font-Flaticon-placeholder: "\f104";
    $font-Flaticon-email-envelope-with-arroba-sign: "\f105";
    $font-Flaticon-smartphone: "\f106";
    $font-Flaticon-coding: "\f107";
    $font-Flaticon-diagram: "\f108";
    $font-Flaticon-income: "\f109";